<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutPublico}">
<body>
    <div layout:fragment="contenido">
		<main class="terms">
		    <h2>Condiciones de Préstamo</h2>
		    <div class="terms-list">
		        <div class="term-item">
		            <h3>¿Quién puede solicitar un préstamo?</h3>
		            <p>Cualquier persona registrada en el sistema de la biblioteca puede solicitar préstamos de libros de forma presencial.</p>
		        </div>
		        <div class="term-item">
		            <h3>Duración del préstamo</h3>
		            <p>El préstamo del libro tiene una duración de 15 días hábiles desde la fecha en que se retira el libro.</p>
		        </div>
		        <div class="term-item">
		            <h3>Cantidad máxima de libros</h3>
		            <p>Cada usuario puede solicitar hasta 3 libros a la vez.</p>
		        </div>
		        <div class="term-item">
		            <h3>Renovaciones</h3>
		            <p>Es posible renovar un préstamo por 15 días adicionales, siempre que el libro no esté reservado por otro usuario.</p>
		        </div>
		        <div class="term-item">
		            <h3>Responsabilidad del usuario</h3>
		            <p>El usuario es responsable del cuidado y devolución del material prestado. En caso de pérdida o daño, deberá reponer el libro o cubrir su valor. Las entregas fuera de plazo pueden implicar restricciones o sanciones.</p>
		        </div>
		        <div class="term-item">
		            <h3>Devolución de libros</h3>
		            <p>Los libros deben devolverse en el área de atención de la biblioteca dentro del horario de funcionamiento.</p>
		        </div>
		        <div class="term-item">
		            <h3>Reglas y restricciones</h3>
		            <p>No se permite retirar libros sin registrarlos previamente. Está prohibido vender, prestar a terceros o dañar el material bibliográfico.</p>
		        </div>
		    </div>
		</main>
    </div>
</body>
</html>
