<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutPublico}">
<body>
    <div layout:fragment="contenido">
		<main class="events">
		    <h2 class="events-title">¡Próximos Eventos en la Biblioteca!</h2>
		    <div class="event-grid">
		        <div class="event-card">
		            <div class="badge presencial">Presencial</div>
		            <img src="images/libro1.png" alt="Club de Lectura">
		            <div class="event-info">
		                <h3>Club de Lectura</h3>
		                <p class="datetime"><i class='bx bx-calendar'></i> 10 Julio 2025 - 18:00</p>
		                <p>Reunión semanal para debatir obras literarias clásicas.</p>
		                <button class="apply-filters">Ver más</button>
		            </div>
		        </div>
		        <div class="event-card">
		            <div class="badge virtual">Virtual</div>
		            <img src="images/libro1.png" alt="Taller de Escritura">
		            <div class="event-info">
		                <h3>Taller de Escritura</h3>
		                <p class="datetime"><i class='bx bx-calendar'></i> 15 Julio 2025 - 20:00</p>
		                <p>Aprende técnicas narrativas desde casa con autores invitados.</p>
		                <button class="apply-filters">Ver más</button>
		            </div>
		        </div>
		        <div class="event-card">
		            <div class="badge presencial">Presencial</div>
		            <img src="images/libro1.png" alt="Feria del Libro">
		            <div class="event-info">
		                <h3>Feria del Libro</h3>
		                <p class="datetime"><i class='bx bx-calendar'></i> 20 Julio 2025 - 10:00</p>
		                <p>Exposición y venta de libros con descuentos especiales.</p>
		                <button class="apply-filters">Ver más</button>
		            </div>
		        </div>
		        <div class="event-card">
		            <div class="badge virtual">Virtual</div>
		            <img src="images/libro1.png" alt="Seminario de Historia">
		            <div class="event-info">
		                <h3>Seminario de Historia</h3>
		                <p class="datetime"><i class='bx bx-calendar'></i> 25 Julio 2025 - 19:00</p>
		                <p>Charlas virtuales sobre historia universal con especialistas.</p>
		                <button class="apply-filters">Ver más</button>
		            </div>
		        </div>
		        <div class="event-card">
		            <div class="badge presencial">Presencial</div>
		            <img src="images/libro1.png" alt="Encuentro con Autores">
		            <div class="event-info">
		                <h3>Encuentro con Autores</h3>
		                <p class="datetime"><i class='bx bx-calendar'></i> 30 Julio 2025 - 17:00</p>
		                <p>Sesión para conocer y conversar con escritores locales.</p>
		                <button class="apply-filters">Ver más</button>
		            </div>
		        </div>
		        <div class="event-card">
		            <div class="badge virtual">Virtual</div>
		            <img src="images/libro1.png" alt="Cine Foro">
		            <div class="event-info">
		                <h3>Cine Foro</h3>
		                <p class="datetime"><i class='bx bx-calendar'></i> 5 Agosto 2025 - 21:00</p>
		                <p>Proyección virtual de películas y debate posterior.</p>
		                <button class="apply-filters">Ver más</button>
		            </div>
		        </div>
		    </div>
		</main>



    </div>
</body>
</html>