<html layout:decorate="~{layouts/layout}">
  <main layout:fragment="contenido">
    <div class="header">
      <div class="left">
        <h1>Dashboard</h1>
      </div>
    </div>

    <ul class="insights">
      <<li>
	    <i class='bx bx-show-alt'></i>
	    <span class="info">
	      <h3 th:text="${totalUsuarios}">0</h3>
	      <p>Cantidad de Usuarios</p>
	    </span>
	    </li>
      <li>
	    <i class='bx bx-book'></i> 
	    <span class="info">
	      <h3 th:text="${totalLibros}">0</h3>
	      <p>Cantidad de Libros</p>
	    </span>
	  </li>
      <li>
        <i class='bx bx-line-chart'></i>
        <span class="info">
          <h3>14,721</h3>
          <p>Libros Totales</p>
        </span>
      </li>
    </ul>

    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt'></i>
          <h3>Préstamos Recientes</h3>
        </div>

        <table>
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Fecha Préstamo</th>
              <th>Fecha Límite</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="prestamo : ${prestamosRecientes}">
              <td><p th:text="${prestamo.usuario.nombres}">Nombre Usuario</p></td>
              <td th:text="${prestamo.fechaPrestamo != null ? #temporals.format(prestamo.fechaPrestamo, 'dd-MM-yyyy') : ''}">Fecha Préstamo</td>
              <td th:text="${prestamo.fechaFormateada}">Fecha Límite</td>
              <td>
                <span th:classappend="${prestamo.estado == 'Devuelto'} ? 'status completed' : 'status pending'"
                      th:text="${prestamo.estado}">Estado</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</html>