<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iniciar Sesión</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  
</head>
<body class="dark">
  <div class="login-container">
    <!-- Logo integrado -->
    <a href="#" class="logo">
      <i class='bx bx-book-open'></i>
      <div class="logo-name"><span>Mi</span>Biblioteca</div>
    </a>

    <h2>Iniciar Sesión</h2>
    <form class="login-form" method="post" th:action="@{/api/auth/login}">
      <label for="username">Usuario</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" required>

      <button type="submit" class="btn-login">Entrar</button>
    </form>
    <div class="login-footer">
      ¿No tienes cuenta? <a th:href="@{/usuarios/registro}">Regístrate</a>
    </div>
  </div>
</body>
</html>
